<section class="container grid-960">
  <div class="columns">
    <div class="column col-md-12 col-12">
      <%= render "dashboards/shared/menu", active: "campaigns" %>
    </div>
    <div class="column col-md-12 col-12">
      <% if @campaigns.any? %>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th><%= t(".table_column_campaign") %></th>
              <th><%= t(".table_column_end_on") %></th>
              <th class="text-right">
                <%= t(".table_column_amount_collected") %>
                (<%= t("currency") %>)
              </th>
            </tr>
          </thead>
          <tbody>
            <% @campaigns.each do |campaign| %>
              <tr>
                <td>
                  <%= link_to campaign.title,
                    campaign_slug_path(campaign.slug)
                  %>
                </td>
                <td><%= campaign.pretty_end_on %></td>
                <td class="text-right"><%= campaign.amount_collected %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <section class="empty">
          <div class="empty-icon">
            <span class="icon icon-group"></span>
          </div>
          <h4 class="empty-title"><%= t(".no_campaign") %></h4>
          <p class="empty-subtitle"><%= t(".suggest_create") %></p>
          <div class="empty-action">
            <button class="btn btn-primary"><%= t(".create_button") %></button>
          </div>
        </section>
      <% end %>
    </div>
  </div>
</section>
