<div class="section fields">
  <h5><%= t(".title") %></h5>
  <p>
    <%= t(".donation_amount_helper_first") %>
    <mark><%= campaign.title %></mark>
  </p>
  <div>
    <%= f.input :website_amount, as: :hidden, input_html: { value: "" } %>
    <%= f.collection_radio_buttons :donation_amount,
      donation_options,
      :first,
      :last,
      {
        checked: donation.donation_amount ||
          donation_options.first
      }
    %>
  </div>
  <div class="other-amount">
    <%= f.radio_button :custom_donation_amount_flag,
      true,
      checked: false
    %>
    <%= t(".other_amount") %> <strong><%= t("currency") %></strong>
    <%= f.number_field :custom_donation_amount,
      class: "form-input custom-donation-amount",
      required: true,
      min: 2,
      patterns: "[0-9]*",
      value: donation.custom_donation_amount
    %>
  </div>
</div>
<div class="submit-button-fields hide-md">
  <%= f.submit t("donations.form.pay"), class: "btn btn-lg btn-primary" %>
  <%= t("donations.form.or") %>
  <%= link_to t("donations.form.back"), campaign %>
</div>
