<section class="container grid-960 site-content">
  <div class="columns">
    <div class="column col-md-12 col-12">
      <div class="columns">
        <div class="column col-md-12 col-8 cover">
          <img src="<%= @campaign.cover_url %>" class="img-responsive">
        </div>

        <div class="column col-md-12 col-10 title">
          <div class="columns mobile-space">
            <div class="column col-12">
              <h2 class="campaign-name">
                <%= @campaign.title %>
              </h2>
            </div>
            <div class="column col-md-12 col-12 hide-md description">
              <p><%= @campaign.description %></p>
            </div>
          </div>
        </div>

        <div class="column col-md-12 col-2 organizer">
          <div class="columns mobile-space">
            <div class="column col-md-4 col-12 avatar-container">
              <%= link_to @campaign.organizer_facebook_url,
                target: "_blank" do
              %>
                <figure class="avatar">
                  <%= image_tag @campaign.organizer.image %>
                </figure>
              <% end %>
            </div>
            <div class="column col-md-8 col-12 name">
              <span>
                <%= t(".by") %>
                <%= link_to @campaign.organizer.name,
                  @campaign.organizer_facebook_url,
                  target: "_blank"
                %>
              </span>
            </div>
          </div>
        </div>

        <div class="column col-md-12 col-12 mobile-desc">
          <div class="mobile-space">
            <p><%= @campaign.description %></p>
          </div>
        </div>

        <div class="column col-md-12 col-4 stats">
          <div class="columns">
            <div class="column col-md-12 col-12 bar-bg">
              <div class="mobile-space">
                <div class="bar bar-sm">
                  <div class="bar-item"
                       role="progressbar"
                       style="width:<%= @campaign.goal_progress %>%">
                  </div>
                </div>
              </div>
            </div>
            <div class="column col-md-12 col-12 figures">
              <div class="columns">
                <div class="column col-md-5 col-12 num">
                  <div class="point highlight">
                    <%= t("currency") %> <%= @campaign.pretty_amount_collected %>
                  </div>
                  <%= t(".from") %>
                  <%= t("currency") %> <%= @campaign.goal_amount %>
                </div>
                <div class="column col-md-3 col-12 donors">
                  <div class="point">
                    <%= @campaign.total_donations %>
                  </div>
                  <%= t(".donations") %>
                </div>
                <div class="column col-md-3 col-12 days-to-go">
                  <div class="point">
                    <%= @campaign.days_left %>
                  </div>
                  <%= t(".days_left") %>
                </div>

                <div class="column col-md-12 divider"></div>

                <div class="column col-md-12 col-12 main-action">
                  <div class="mobile-space">
                    <%= link_to t(".donate_action"),
                      new_campaign_donation_path(@campaign.slug),
                      class: "donate btn btn-lg btn-primary"
                    %>
                  </div>
                </div>

                <div class="column col-md-12 col-12 secondary-actions">
                  <%= link_to t(".reminder_action"),
                    "#",
                    class: "reminder btn",
                    data: { clipboard_text: "waat" }
                  %>

                  <div class="dropdown dropdown-right share">
                    <a class="btn dropdown-toggle" tabindex="0">
                      <%= t(".share_action") %>
                      <i class="icon icon-caret"></i>
                    </a>
                    <ul class="menu">
                      <li class="menu-item">
                        <a href="#" 
                           data-url="<%= @campaign.share_url(source: "facebook", medium: "campaign") %>"
                           class="js-fb-share">
                          Facebook
                        </a>
                      </li>
                      <li class="menu-item">
                        <a href="#"
                           data-clipboard-text="<%= @campaign.share_url(source: "clipboard", medium: "campaign") %>"
                           class="js-copy-url">
                          Copy URL
                        </a>
                        <span class="copy-url-status copy-url-status-left">
                          <%= t("sharing.copied") %>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column col-md-12 divider"></div>

        <div class="column col-md-12 col-8 tab-wrapper">
          <div class="mobile-space">
            <ul class="tab">
              <li class="tab-item active">
                <a href="#" data-target="tab-campaign"><%= t(".campaign") %></a>
              </li>
              <li class="tab-item">
                <a href="#" data-target="tab-comments"><%= t(".comments") %></a>
              </li>
            </ul>

            <div class="tab-contents">
              <%= render "story" %>
              <%= render "comments" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript do %>
  <script>
    $(function() {
      new window.Derma.SpectreTab().initialize();
      new window.Derma.FacebookShare().initialize();
      new window.Derma.ClipboardCopy(".js-copy-url", ".copy-url-status").initialize();
    })
  </script>
<% end %>

<% content_for(:facebook_meta_content) do %>
  <meta property="og:url" content="<%= @campaign.url %>" />
  <meta property="og:type" content="<%= @campaign.facebook_og.type %>" />
  <meta property="og:title" content="<%= @campaign.facebook_og.title %>" />
  <meta property="og:description" content="<%= @campaign.facebook_og.description %>" />
  <meta property="og:image" content="<%= @campaign.cover_url %>" />
<% end %>
