<div class="column col-md-6 col-sm-12 message">
  <h4><%= t(".title") %></h4>
  <p><%= t(".body") %></p>
  <p><%= t(".share") %></p>
  <div class="dropdown">
    <div class="btn-group">
      <a class="btn btn-primary"><%= t(".action") %></a>
      <a class="btn btn-primary dropdown-toggle" tabindex="0">
        <i class="icon icon-caret-down"></i>
      </a>
        <ul class="menu">
          <li class="menu-item">
            <a href="#" 
               data-url="<%= payment.campaign.share_url(source: "facebook", medium: "receipt")  %>"
               class="js-fb-share">
              Facebook
            </a>
          </li>
          <li class="menu-item">
            <a href="#"
               data-clipboard-text="<%= payment.campaign.share_url(source: "facebook", medium: "receipt") %>"
               class="js-copy-url">
              Copy URL
            </a>
            <span class="copy-url-status copy-url-status-right">
              <%= t("sharing.copied") %>
            </span>
          </li>
        </ul>
    </div>
  </div>
  <%= link_to t(".donate_more"), root_path, class: "hide-md more-donation-desktop" %>
</div>
<div class="column col-md-6 col-sm-12 preview">
  <%= render "application/shared/preview",
    campaign: payment.campaign,
    preview: preview
  %>

  <p class="more-donation-mobile text-right">
    <%= link_to t(".donate_more"), root_path %>
  </p>
</div>

<% content_for :javascript do %>
  <script>
    $(function() {
      new window.Derma.FacebookShare().initialize();
      new window.Derma.ClipboardCopy(".js-copy-url", ".copy-url-status").initialize();
    })
  </script>
<% end %>
