<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta property="fb:app_id" content="<%= ENV.fetch('FACEBOOK_APP_ID') %>" />
    <title><%= site_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>

  <body class="<%= body_class %> bottom-footer">
    <div id="fb-root" data-turbolinks-permanent></div>

    <%= render "header" %>
    <%= render "flashes" %>

    <%= yield %>

    <%= render "footer" %>
    <%= render "javascript" %>
  </body>
</html>
</html>
